
html, body {
    max-width: 100% ! important;
    overflow-x: hidden ! important;
    overflow-y: hidden ! important;
    }


body{
    background-image: url(image/téléchargement.gif);
    background-repeat: no-repeat; /* Ne pas répéter l'image */
    background-size: cover; /* Redimensionner l'image pour couvrir tout l'élément */
    background-position: center center; /* Centrer l'image */
    background-attachment: fixed; 
    margin: 0;
    padding: 0;
    height: 100vh; /* Assure que le body occupe toute la hauteur de la fenêtre */
    display: flex;
    flex-direction: column; /* Utilise flexbox pour la disposition */
    align-items: center
}

body{
    justify-content: center;

    display: flex;

}


@font-face {

    font-family:'titreFont' ;
    src : url('font/Carton_Six.ttf') format(truetype)
    
    } 
    
    h1{
        font-family: 'titreFont', sans-serif;
    }
    
    h2{
        font-family: 'titreFont', sans-serif;
      
     
    }
    
    a, p{
        font-family: 'titreFont', sans-serif;
      
     
    }

    /* Style de base pour le bouton */
button.epure {
  
  
    background-color: #007bff; /* Couleur de fond */
    color: #ffffff; /* Couleur du texte */
    border: none; /* Suppression des bordures */
    border-radius: 5px; /* Coins arrondis */
    padding: 10px 20px; /* Espacement intérieur */
    font-size: 16px; /* Taille de la police */
    font-family: Arial, sans-serif; /* Police de caractère */
    cursor: pointer; /* Curseur en forme de main */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transition fluide */
}

/* Effet au survol */
button.epure:hover {
    background-color: #0056b3; /* Couleur de fond au survol */
}

/* Effet au clic */
button.epure:active {
    background-color: #00408d; /* Couleur de fond au clic */
    transform: scale(0.98); /* Réduction légèrement au clic */
}

/* Effet de focus pour l'accessibilité */
button.epure:focus {
    outline: 2px solid #0056b3; /* Bordure de focus */
    outline-offset: 2px; /* Décalage de la bordure de focus */
}

/* ------------------------------------ .NOMdeCLASS------------------------------------ */
.aug{
    bottom: 145px;
    position: relative;
    visibility: hidden;
    gap: 100px;
    }

    .flex {
    
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }


    .gap{
        gap: 30px;
        display: flex;
    }

    .image{
        width: 100px;
        height: 100px;
    }
    .flou{
        filter: blur(5px);
        z-index: 1;
      }
      .color{
        color: white;
        font-family: 'titreFont', sans-serif;
      }


/* ------------------------------------ COLONNE DE GAUCHE------------------------------------ */

.contourJeux{
    background-color: #180011a2;
    
    border: 5px solid rgb(117 29 70);
padding: 10px;
/*background-color: rgb(202, 202, 194);*/

margin-left: 30px;
border-radius: 10px;
position: relative;
}



.reset{
    background-color: rgb(0, 0, 0);

width: 380px;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    z-index: 1;
    filter: grayscale(1);
    color:  rgb(255,0,64);
    border: 5px solid rgb(117 29 70);
   


}

.reset:hover{
    animation: myAnim 2s ease 0s 1 normal forwards;
    filter: grayscale(0)
}


.fermer{
    /* background-image: url(image/croix.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; */
    background-color: rgb(0, 0, 0);
    width: 380px;
    height: 100px;
    border: 5px solid rgb(117 29 70);
    position: relative;
    filter: grayscale(1);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:  rgb(255,0,64);
}

.fermer:hover{
   filter: grayscale(0);
   animation: customAni 1s ease-in-out 0s infinite normal none;
}



@keyframes myAnim {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}

@keyframes customAni {
    0% {
      transform: translate(0);
    }
  
    10% {
      transform: translate(-2px, -2px);
    }
  
    20% {
      transform: translate(2px, -2px);
    }
  
    30% {
      transform: translate(-2px, 2px);
    }
  
    40% {
      transform: translate(2px, 2px);
    }
  
    50% {
      transform: translate(-2px, -2px);
    }
  
    60% {
      transform: translate(2px, -2px);
    }
  
    70% {
      transform: translate(-2px, 2px);
    }
  
    80% {
      transform: translate(-2px, -2px);
    }
  
    90% {
      transform: translate(2px, -2px);
    }
  
    100% {
      transform: translate(0);
    }
  }



  .box a {
    font-size: 50px;
}

.box{
    background: #ff0040;

padding: 10px;
display: flex;
justify-content: center;
align-items: center;
width: 380px;
height: 400px;
border: 5px solid rgb(117 29 70);

position: relative;
transition: transform 0.1s, box-shadow 0.1s;
color: white;
}

.box:active {
    transform: scale(0.95);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }

  .box:hover {
   background-color: #ff2600;
  }

/* ------------------------------------ COLONNE DE DROITE------------------------------------ */
.affichageCoin{
    border-radius: 10px;
    width: 430px;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  position: relative;
  z-index: 1;
  background-color: #180011a2;
  color:  rgb(255,0,64);
  border: 5px solid rgb(117 29 70);
}

.aGauche{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
gap: 10px;
margin-right: 30px;

}

.margG{
    border-radius: 10px;
flex-direction: column;
display: flex;
border: 5px solid rgb(117 29 70);
padding: 10px;
color:  rgb(255,0,64);
/* overflow:auto; */
/* scrollbar-color: #346abf rgb(0, 0, 0); 
scrollbar-base-color: black;
scrollbar-width: none; */
width: 410px;
height: 570px;
background-color: #180011a2;
}


.prendreTouteLaPlace{
    width: auto;
    height: auto;
    
}

#buff1:hover{
    background-color: #ffffff;
}
#buff2:hover{
    background-color: #ffffff;
}
#buff3:hover{
    background-color: #ffffff;
}
#buff4:hover{
    background-color: #ffffff;
}

#buffSecret1:hover{
    background-color: #ffffff;
}


/* ------------------------------------ LOGO ------------------------------------ */
.logoClickers {
    height: 125px;
    width: 155px;
    background-image: url(image/logoSite2.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    visibility: visible;
    clip-path: ellipse(40% 45%);
}

.text {
    margin-top: 10px; /* Espacement entre l'image et le texte */
    font-size: 16px; /* Ajustez la taille du texte selon vos besoins */
    text-align: center; /* Centrer le texte */
    margin-top: -35px;
    font-family: 'titreFont', sans-serif;
    z-index: 2;
    color: #ffffff;
}


.toutLogo{
    display: flex;
    flex-direction: column; /* Arrange les enfants en colonne */
    align-items: center; /* Centre les enfants horizontalement */
    justify-content: center; /* Centre les enfants verticalement si nécessaire */
    
/*right: 215px;*/
margin: 0;
    position: relative;
bottom: 85px;
}

.logoClickers:hover{
    filter: brightness(70%) saturate(545%) contrast(97%);
    -webkit-filter: brightness(70%) saturate(545%) contrast(97%);
    -moz-filter: brightness(70%) saturate(545%) contrast(97%);
}



/* ------------------------------------ COLONNE CENTRALE------------------------------------ */

.github{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.github a {
    color: #ffffff;
    text-decoration: none;
}


/*---------------------------------------POPUP-------------------------------------------*/


.confirmationDiv{
    color: white;
    background: rgb(255,0,64);
    border: 5px solid rgb(117 29 70);
    visibility: hidden;
    width: 215px;
    height: 200px;
    position: relative;
    margin: auto;
    z-index: 2;
    top:300px;
  padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}


/*---------------------------------------FOOTER-------------------------------------------*/

/*
.sticky-footer {
    height: 35px;
    width: auto;
    background-image: url(image/barre\ des\ taches\ windows.png);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    position: sticky;
    bottom: 0;
    margin-top: auto; 
}

.sticky-footer p {
    margin: 0; 
} 

*/